altair
attrs
blinker
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
cycler
decorator
docx2txt
entrypoints
future
geocoder
geographiclib
geopy
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
kiwisolver
MarkupSafe
matplotlib
nltk
numpy
packaging
pandas
pdfminer.six
Pillow
plotly
protobuf
pyarrow
pycparser
pycryptodome
pydantic
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytz
regex
requests
rich
semver
six
smart-open
spacy
streamlit
streamlit-tags
tenacity
toml
toolz
tornado
tqdm
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
